<!-- Footer -->
<footer id="channels" class="bg-light text-dark py-0">
    <div class="container py-2">
        <div class="row">
            <div class="col-12 text-right">
                <h5 class="text-uppercase">Let's Connect</h5>
                <ul class="nav float-right">
                    <li><a class="text-dark footer_icon mr" href="{{ site.social.github }}" target="_blank" 
                        title="GitHub"><i class="h1 fab fa-fw fa-github fa-3x"></i></a>
                    </li>
                    <li><a class="text-dark footer_icon mr" href="{{ site.social.linkedin }}" target="_blank" 
                        title="LinkedIn"><i class="h1 fab fa-fw fa-linkedin fa-3x"></i></a>
                    </li>
                    <li><a class="text-dark footer_icon mr" href="{{ site.social.googlescholar }}" target="_blank" 
                        title="Publications"><i class="h1 fa fa-fw fa-book fa-3x"></i></a>
                    </li>
                    <li><a class="text-dark footer_icon mr" href="mailto: {{ site.social.email }}" target="_blank" 
                        title="Email"><i class="h1 fas fa-fw fa-paper-plane fa-3x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>