<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ page.title }}</title>

	<meta name="description" content="{{ page.description }}">

	<!-- add canonical -->
	<link rel="canonical" href="{{ page.canonical_url | prepend: site.base_canonical }}">

	<!-- open graph protocol -->
	<meta property="og:url" content="{{ page.canonical_url | prepend: site.base_canonical }}" />
	<meta property="og:type" content="{{ layout.og_type }}" />
	<meta property="og:title" content="{{ page.title }} - {{ site.suffix }}" />
	<meta property="og:description" content="{{ page.description }}" />
	{% if layout.og_type == "article" %}
		<meta property="og:image" content="{{ "/static/img/placeholder_article.png" | prepend: site.baseurl }}" />
	{% else %}
		<meta property="og:image" content="{{ site.baseurl }}{{ 'cover.png' | prepend: page.canonical_url }}" />
	{% endif %}
	

	<!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "/static/img/favicon.ico" | prepend: site.baseurl }}">
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}/static/css/main.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script> -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16846140344"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.google_analytics }}');   
		gtag('config', 'AW-16846140344');
	</script>
	<!-- Event snippet for contact-from-clumdee conversion page -->
	<script>
		gtag('event', 'conversion', {'send_to': 'AW-16846140344/itOgCOnf-r0aELjn7uA-'});
	</script>

	<!-- Google AdSense -->
	<script data-ad-client="ca-pub-1469161366135496" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	<!-- Not an ideal way to specify content-language but leave it for now -->
	<meta http-equiv="content-language" content="th, en">
</head>