.clear {
	clear: both;
}
.clearR {
	clear: right;
}
#startButton {
    background-color: #555555; /* Gray */
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#result {
	float:none;
}
#statHead {
	float:none;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 5px;
}
#stat {
	float: none;
	padding-top:0px;
	width: 100%;
	border: 1px solid black;
	background-color: white;
}
#stat th {
	text-align: center;
	width: 25%;
	background-color: #e2e2e2; /* Light gray */
	border: 1px solid black;
}
#stat td {
	background-color: white;
	border: 1px solid black;
	text-align: center;
}
#frame {
	margin: auto; /* to get the <div> centrally aligned */
	margin-top: 20px;
	width: 90%;
  height: 50vh;
  /* 1vh = 1% vertical height of the current window */
	border: 2px solid black;
}
#box {
	width: 100px;
	height: 100px;
	background: red;
	border: 2px solid black;
	position: relative;
	left: 50px;
	top: 50px;
}
